name: Continuous Integration
on:
  push:
    paths:
      - '**.ts'
      - pnpm-lock.yaml
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      # https://github.com/pnpm/action-setup?tab=readme-ov-file#install-only-pnpm-with-packagemanager
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          pnpm install

      - name: Lint
        run: |
          pnpm lint

      - name: Test
        run: |
          pnpm test

      - name: Compile
        run: |
          pnpm compile

      - name: Bundle
        run: |
          pnpm bundle
