name: Continuous Integration
on:
  push:
    paths:
      - '**.ts'
      - yarn.lock
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4.1.4

      - name: Set up Node
        uses: actions/setup-node@1e60f620b9541d16bece96c5465dc8ee9832be0b # v4.0.3
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile

      - name: Lint
        run: |
          yarn lint

      - name: Test
        run: |
          yarn test

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle
