name: Continuous Integration
on:
  push:
    paths:
      - '**.ts'
      - pnpm-lock.yaml
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0

      # https://github.com/pnpm/action-setup?tab=readme-ov-file#install-only-pnpm-with-packagemanager
      - name: Install pnpm
        uses: pnpm/action-setup@41ff72655975bd51cab0327fa583b6e92b6d3061 # v4.2.0

      - name: Set up Node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
        with:
          node-version: 24
          cache: pnpm
          cache-dependency-path: pnpm-lock.yaml

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          pnpm install

      - name: Lint
        run: |
          pnpm lint

      - name: Test
        run: |
          pnpm test

      - name: Compile
        run: |
          pnpm compile

      - name: Bundle
        run: |
          pnpm bundle
