name: Continuous Integration
on:
  push:
    paths:
      - '**.ts'
      - yarn.lock
      - rollup.config.mjs
      - tsconfig.json
      - .prettierrc.cjs
      - .github/workflows/ci.yaml

jobs:
  build:
    name: Continuous Integration
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout source code
        uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4.1.0

      - name: Set up Node
        uses: actions/setup-node@e33196f7422957bea03ed53f6fbb155025ffc7b8 # v3.7.0
        with:
          node-version: 18
          cache: yarn
          cache-dependency-path: yarn.lock

      - name: Check packages version
        uses: ./.github/actions/check-packages-exact-version

      - name: Install dependencies
        run: |
          yarn --frozen-lockfile

      - name: Lint
        run: |
          yarn lint

      - name: Test
        run: |
          yarn test

      - name: Compile
        run: |
          yarn compile

      - name: Bundle
        run: |
          yarn bundle
